<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="opencart.Listner.listners" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="opencart.test.AuthenticationTest">
				<methods>
					<exclude name="signupUser" />
					<exclude name="loginUser" />
				</methods>
			</class>
			<class name="opencart.test.ExploreTutorialTest">
				<methods>
					<include name="exploreTut" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
